@{
    ViewBag.Title = "Sistema";
}

<h2>@ViewBag.Title.</h2>
<!--
<h3>@ViewBag.Message</h3>
-->
<p>Este Sistema es elaborado para conocer a los egresados de Sistemas.</p>
<br>
<strong><p>¿Porque crear este tipo de Sistemas?</p></strong>
<p>Las empresas deben poseer sus datos sociales y deben estar a cargo de lo que quieren hacer con ella, generar informes y analizar datos para hacer Informadas y mejoradas. Esto es posible cuando las cosas están abiertas y las empresas tienen libertad para elegir, creemos que el código abierto es una forma de hacer esto posible. Para que las marcas y las empresas puedan abrazar la tecnología social con una mente abierta en un mundo abierto y conectado.Se desea hacer las tecnologías sociales más abiertas.</p>
<br>
<center><img src="~/Imagenes/redessocialesempresas.jpg" align="middle" /></center>
