@{
    ViewBag.Title = "Grupo de Trabajo - SistemHack";
}

<h2>@ViewBag.Title.</h2>
<!--
<h3>@ViewBag.Message</h3>
-->
<address>
    <br/>
    <strong>Integrantes:</strong><br />
    - Morales Albino Antony Paul.
    <a href="https://www.facebook.com/amoralesalbino"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/14729347_1150598201694736_6130184387675481411_n.jpg?oh=f7b0356e5319bb073dc44333a3010cb7&oe=59325B52" align="middle"  /></a>
    <br/><br />
    - Fajardo Fernandez Oscar Alexis.
    <a href="https://www.facebook.com/oscar.fajardofernandez"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12510292_10205501266517625_6535313928878522575_n.jpg?oh=4ebb0c7acf1c07420188651840c9daf0&oe=593660C6" align="middle" /></a>
    <br/><br />
    - Castillo Ramirez Marco.
    <!--
    <a href="https://www.facebook.com/marco123cr"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/14729347_1150598201694736_6130184387675481411_n.jpg?oh=f7b0356e5319bb073dc44333a3010cb7&oe=59325B52" align="middle" /></a>    
    <!--
    <abbr title="Phone">P:</abbr>
    425.555.0100
    -->
</address>
<!--
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->