@{
    ViewBag.Title = "Pagina Inicio";
}

<div class="jumbotron">
    <h1 align=center>SocialLink</h1>
    <center><img src="~/Imagenes/redsociales.png" width="307" height="224" /></center>
    <br>
    <p class="lead">Todo se ha trasladado al mundo digital y las vidas de las personas se han conectado digitalmente a través de los medios sociales. En estos tiempos cambiantes, las empresas necesitan herramientas modernas para conectarse con sus clientes que están en las redes sociales.</p>
    <p><a href="https://www.socioboard.com/" class="btn btn-primary btn-lg">Socioboard &raquo;</a></p>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->